.azania{
    font-size: 200%;
    font-weight:900;
    font-style: italic;
    font-family: 'Merienda', cursive;
}

.font-meridian {
    font-family: 'Merienda', cursive;
}

.wallet:hover {
    background-color: #25cfcf;
}

.white {
    color: white;
}

.pink {
    color: #F14D5D;
}

.wallet {
    background-color: #F14D5D;
    cursor: pointer;
}

.main {
    align-items: center;
    margin-top: 2vh;
}

.overall {
    background-color: #0A1831;
}

.overall-nowallet {
    background-color: #0A1831;
    height: 100vh;
}

a:link {
    text-decoration: none;
}

.pill {
    padding-bottom: 0.1px;
}

.mint {
    width: 20%;
}

.card {
    height: 350px;
    background-color: #0A1831;
}
